# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.7, 3.8]
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON_VERSION: ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test,extras]
    - name: Check code formatting with black
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.7' # linting should occur only once in the loop
      run: |
        black . --check
    - name: Check import order with isort
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.7' # linting should occur only once in the loop
      run: |
        isort . --check-only
    - name: Lint with flake8
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.7' # linting should occur only once in the loop
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude kedro_mlflow/template/project/run.py
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --exclude kedro_mlflow/template/project/run.py
    - name: Test with pytest and generate coverage report
      run: |
        pytest --cov=./ --cov-report=xml
    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@v1
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.7' # upload should occur only once in the loop
      with:
        token: ${{ secrets.CODECOV_TOKEN }}  # token is not mandatory but make access more stable
        file: ./coverage.xml
        env_vars: OS,PYTHON
        fail_ci_if_error: true
